---
layout: default
---

<div class="home">
 <div class="wrapper">
  <div class="main-col-wrapper">
   <div class="main-col main-col-1">
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:6 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h4>
        {%- if site.show_excerpts -%}
          <p>{{ post.excerpt }}</p>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    
  {%- endif -%}
   </div>

   <div class="main-col main-col-2">
    <div class ="tags">
	<h3>Themes</h3>

	 {% for category in site.categories %}
	     <div class="tag-content"> <a href="/mypages/taglist#{{ category[0] }}">{{ category[0] }}</a> </div>  
	 {% endfor %}
    </div>
   </div>
  </div>
 </div>
</div>
